<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       <section class="headerTop"> <div class="leftSide"><img figure class="logo" src="./images/logoSmall.png" alt="Logotipo Estoque OnLine">
        </div>
        <div class="menuBottom">
            <div class="btn"><h3>SENHA</h3></div>
            <div class="btn"><h3>USUARIO</h3></div>
            <div class="btn"><h3>CONTATO</h3></div>
            <div class="btn"><h3>CADASTRE-SE</h3></div>
        </div>
    </section>
        </header>
  </body>
</html>
