<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header")%>
  </head>
  
<body>
  <div class="main">
    <h1>
      CARROSEL
    </h1>
  </div>
  <footer>
    <%- include("./partials/footer")%>
         
  </footer>
</body>
</html>

