
.headerTop{
  height: 7vh;
  width: 100vw;
}
.logo {
  float:left;
  height: 7vh;
  margin-left: 2vh;
}
.menuBottom{
  margin-right: 5vh;
  height: 7vh;
  
}
.btn{
  height:4vh;
  width: 7vw;
  padding-left: 10px;
  position: relative;
  color: black;
  font-size: 10px;
  text-decoration: none;
  float: right;
  margin-left:2vh;
  margin-top: 1vh;
  align-items: center;
  border: 2px solid black;
  border-style: dashed;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: rgb(238, 140, 28);
  opacity: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0%;
  height: 100%;
}
.btn:hover::before{
  width: 100%;
}

.main{
  height:60vh;
  width: 90vw;
  margin-top: 5vh;
  margin-left: 4vw;
  opacity: 50%;
  border-style:solid;
  background-color: grey;
}
.infos{
  margin-top: 1vh;
  width: 100vw;
  height: 5vh;


}